.checkboard {
    background-color: var(black);
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 5em;
    padding-bottom: 5em;
}

.element {
    flex: 1;
    max-width: 250px;
    margin: 0 10px;
}

.element h2 {
    font-size: 6em;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin: 0;
}

.element:nth-child(2n) {
    margin-top: 10em;
}

@media screen and (max-width: 768px){
  .checkboard {
        flex-direction: column;
        align-items: center;
    }

    .checkboard .element:nth-child(2n) {
        margin-top: 0em;
    }
}
